/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-size: 18px;
}

h2 {
	font-size: 35px;
}

.navbar-brand {
	font-size: 30px;
}

body {
 background: url('../images/paper.png'); 
}

.jumbotron  {
	background: url('../images/paper.png');
	margin-bottom: 0;
}

.jumbotron h1 {
	font-size: 2.8em;
}

/* For the Android Wallpapers */
.thumbnail>img, .thumbnail a>img {
	margin-top: 30px;
}

.navbar-inverse {
  background-color: rgba(255, 255, 255, 0.61);
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
