/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-size: 18px;
}

h2 {
	font-size: 35px;
}

.navbar-brand {
	font-size: 30px;
}

body {
 background: url('../images/confectionary.png'); 
}

.jumbotron  {
	background: url('../images/confectionary.png');
	margin-bottom: 0;
}

.jumbotron h1 {
	font-size: 50px;
}

/* For the Android Wallpapers */
.thumbnail>img, .thumbnail a>img {
	margin-top: 30px;
}












