---
# Front matter comment to ensure Jekyll properly reads file.
---

body {
	font-size: 140%;
	margin-bottom: 100px;
    font-family: 'Open Sans';
}

.jumbotron {
	background: none;
}

p, li {
	color: #656565;
    line-height: 1.6;
}

h1, h2, h3 {
	// color: grey;
	font-family: 'Josefin Sans', serif;
}

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

.nav-wrapper {
	background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.navbar-brand {
	color: white;
	font-size: 30px;
  font-family: 'Josefin Sans', serif;
}

.navbar-nav {
 color: white;
 font-size: 20px;
 font-family: 'Josefin Sans', serif;
}

img {
  max-width: 100%;
}

/* For the Android Wallpapers */
.thumbnail>img, .thumbnail a>img {
	margin-top: 30px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

html {
  position: relative;
  min-height: 100%;
}

.wrapper-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    background-color: #eee;
}

footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}




.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
