{% if site.google_analytics %}
	<!-- Google Analytics -->
	<script>
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', '{{ site.google_analytics }}', 'auto');
	ga('require', 'autotrack');
	ga('send', 'pageview');
	</script>
	<script async src='https://www.google-analytics.com/analytics.js'></script>
	<script async src='/js/autotrack.js'></script>
	<!-- End Google Analytics -->
{% endif %}

<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" data-site="FOLZOONQ" defer></script>
<!-- / Fathom -->
