<a class="btn btn-lg btn-social-icon btn-twitter" href="http://twitter.com/wrede" rel="nofollow">
    <span class="fa fa-twitter"></span>
</a>
<a class="btn btn-lg btn-social-icon btn-github" href="https://github.com/caspii" rel="nofollow">
    <span class="fa fa-github"></span>
</a>
<a class="btn btn-lg btn-social-icon btn-instagram" href="http://instagram.com/caspii" rel="nofollow">
    <span class="fa fa-instagram"></span>
</a>
<a class="btn btn-lg btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/casparwrede" rel="nofollow">
    <span class="fa fa-linkedin"></span>
</a>
