<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ page.description }}">
    <!-- meta robots -->
    {% if page.metatags %} <meta name="robots" content="{{page.metatags}}">{% endif %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/node_modules/bootswatch/dist/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Josefin+Sans:600' >
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans' >
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/node_modules/bootstrap/js/transition.js"></script>
    <script src="/node_modules/bootstrap/js/collapse.js"></script>
    {% if page.custom_js %}
        {% for js_file in page.custom_js %}
        <script src='/js/{{ js_file }}' type="text/javascript"></script>
        {% endfor %}
    {% endif %}
    <meta name="google-site-verification" content="5hPNIY_cvIoCAkAHJEd0Bzr1N5txJohoz1WS9VKS7Xc" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light rounded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapse_me" aria-controls="collapse_me" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-header">
              <a class="navbar-brand" href="/">@wrede</a>
          </div>
          <div class="collapse navbar-collapse" id="collapse_me">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">About me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
              </li>
            </ul>
          </div>

        </div>
      </nav>

      {{ content }}

    <div class="wrapper-footer">
        <footer>
          {% include footer.html %}
        </footer>
    </div>
    {% include analytics.html %}
  </body>
</html>
