<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <!-- meta robots -->
    {% if page.metatags %} <meta name="robots" content="{{page.metatags}}">{% endif %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/node_modules/bootswatch/dist/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Josefin+Sans:700' >
     <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans' >

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Mailchimp -->
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3b309338c6ef39a77ffa0b9ba/fb438692bdfaa6306748e311b.js");</script>

    {% if page.custom_js %}
        {% for js_file in page.custom_js %}
        <script src='/{{ js_file }}' type="text/javascript"></script>
        {% endfor %}
    {% endif %}

    <meta name="google-site-verification" content="5hPNIY_cvIoCAkAHJEd0Bzr1N5txJohoz1WS9VKS7Xc" />
    {% seo %}
  </head>
  <body>

      <!-- begin navbar -->
      <div class="nav-wrapper mb-5">
        <nav class="navbar navbar-expand-sm navbar-light container">
          <a class="navbar-brand" href="/">@wrede</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">About me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- End navbar -->

      {{ content }}

    <div class="wrapper-footer">
        <footer>
          {% include footer.html %}
        </footer>
    </div>
    {% include analytics.html %}
  </body>
</html>
